.table-header {
    display: flex;
    justify-content: space-between;
    padding: 20px 27px;
    user-select: none;
}

.header-date {
    display: flex;
    align-items: center;
    width: 47px;
    justify-content: space-between;
    cursor: pointer;
}