.table-header {
    display: flex;
    justify-content: space-between;
    padding: 20px 27px;

    user-select: none;

    font-size: 14px;
}

.header-date {
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 47px;

    cursor: pointer;
}

.header-value {
    margin-left: 21px;
}