.modal-add-transaction {
    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;

    background-color: rgba(0, 0, 0, 0.5);
}

.modal-add-transaction-container {
    display: flex;
    align-items: center;
    flex-direction: column;

    width: 611px;
    height: 879px;
    border-radius: 20px;
    padding: 61px 62px 48px 64px;

    background-color: var(--white);
}

.modal-add-transaction-header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 100%;
    margin-bottom: 52px;

}

.modal-add-transaction-header h1 {
    font-size: 24px;
    font-weight: 700;
    line-height: 29px;
    letter-spacing: 0em;
    text-align: left;
    text-transform: capitalize;
}

.btn-close {
    width: 26px;
    height: 26px;
    margin-right: 10px;

    background-image: url(../../../assets/close-icon.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    cursor: pointer;
}

.transaction-type-container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 100%;
    height: 56px;
}

.btn-modal-transaction-input {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 7px;

    width: 244.5px;
    height: 56px;
    border-radius: 5px;
}

.btn-modal-transaction-output {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 7px;

    width: 244.5px;
    height: 56px;
    border-radius: 5px;
}

.modal-inputs {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 26px;

    width: 100%;
    height: 100%;
    margin: 38px 0 43px 0;
}

.modal-value,
.modal-category,
.modal-description,
.modal-date {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 8.77px;
}

.input-label {
    font-family: var(--main-font-family);
    font-size: 24px;
    font-weight: var(--font-weight-medium);
}

.modal-inputs input,
.category-select {
    width: 485px;
    height: 63.49px;
    padding: 0 24px 0 24px;

    border: 1px solid var(--input-border-color);
    border-radius: 5px;

    font-size: 18px;
    font-weight: var(--font-weight-regular);
    font-family: var(--main-font-family);
}

.modal-category {
    position: relative;
}

.category-select {
    padding: 0 24px 0 24px;
}

.category-select:focus {
    max-height: 100px;
    overflow-y: auto;
}

.category-select option {
    font-size: 16px;
    font-weight: var(--font-weight-regular);
    font-family: var(--main-font-family);
}

.hidden {
    display: none;
}

.btn-inactive {
    background-color: var(--btn-inactive);
}

.btn-input-active {
    background: var(--record-inflow-btn);
}

.btn-output-active {
    background: var(--record-outflow-btn);
}