:root {
  --main-font-family: 'Rubik', sans-serif;
  --records-font-family: 'Lato', sans-serif;
  --font-weight-light: 300;
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-bold: 700;

  --black: #000000;
  --dark-grey: #2F2F2F;
  --white: #FFFFFF;
  --slightly-grayish-white: #FAFAFA;
  --grayish-white: #E0E0E0;
  --light-blue: #05EDE3;
  --medium-blue: #6460FB;
  --dark-blue: #000A4A;
  --pink: #FF57D3;
  --record-inflow-text: #645FFB;
  --record-outflow-text: #FA8C10;
  --record-balance-text: #3A9FF1;
  --record-inflow-btn: #3A9FF1;
  --record-outflow-btn: #FF576B;
  --button-color: #7978D9;
  --delete-popup-color: #E4F2FD;
  --input-border-color: #555555;
  --btn-inactive: #b9b9b9;


  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  font-family: var(--main-font-family);
}

button {
  all: unset;
  height: 46px;
  width: 236px;
  border-radius: 5px;

  color: var(--white);
  background-color: var(--button-color);

  cursor: pointer;
  user-select: none;

  font-size: 14px;
  font-weight: 700;
  line-height: 17px;
  letter-spacing: 0em;
  text-align: center;
  text-transform: capitalize;
}

button:hover {
  opacity: 0.9;
}

#root {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 100%;
}

input {
  border: 1px solid #555555;
  border-radius: 5px;
  width: 100%;
  height: 63px;
  padding-left: 20px;

  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0px;
  text-align: left;
}

label {
  align-self: flex-start;

  color: #484848;

  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
}